@keyframes navAnimationSide {
    from {
        transform: translateX(300px);
    }
    to {
        transform: translateX(0px);
    }
}

.presentationNav {
    display: flex;
    justify-content: space-between;
    color: #F5F5F5;
    width: 100%;
    padding-top: 1rem;
}

.presentationSideNav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 999;
    width: 250px;
    background-color: #00122080;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: flex-start;
    align-items: center;
    backdrop-filter: blur(10px);
    padding-top: 2rem;
    animation: navAnimationSide 0.5s ease 1 forwards;
}

.titleSide {
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
}

.buttonsContainerSide {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
}

.title {
    font-size: 3rem;
    padding-left: 2rem;
    font-family: 'Lato', sans-serif;
}

.buttonsContainer {
    display: flex;
    gap: 2rem;
    padding-right: 2rem;
}

.button {
    background: none;
    color: #F5F5F5;
    border: none;
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
    display: flex;
    align-items: center;
}

.buttonSide {
    background: none;
    color: #F5F5F5;
    border: none;
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonSide.contactButton {
    color: #e53f71;
}

.buttonSide.contactButton:hover {
    text-decoration: underline;
}

.buttonSide:hover {
    cursor: pointer;
}

.buttonSide.secondaryButton:hover {
    text-decoration: underline;
}

.button.secondaryButton:hover {
    text-decoration: underline;
}

.button.contactButton {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #e53f71;
    color: white;
    transition: 0.5s ease;
}

.button.contactButton:hover {
    translate: 0 -5px;
}

.button:hover {
    cursor: pointer;
}

.iconButton {
    color: #F5F5F5;
    background: none;
    border: none;
    height: 2rem;
    width: 2rem;
}

.iconButton2 {
    color: #F5F5F5;
    background: none;
    border: none;
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .presentationNav {
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        width: 100%;
    }
    .button {
        display: none;
    }
    .title {
        font-size: 2rem;
    }
}

@media (min-width: 769px) {
    .iconButton {
        display: none;
    }
}

@media (min-width: 1921px) {
    .title {
        font-size: 3.4rem;
    }
    .button {
        font-size: 2.5rem;
    }
}